@font-face {
  font-family: GA;
  src: url("../fonts/Gangitem.otf") format('opentype');
}
@font-face {
  font-family: FDB;
  src: url("../fonts/FreightDispBook.ttf") format('truetype');
}
@font-face {
  font-family: GL;
  src: url("../fonts/GothamLight.otf") format('opentype');
}
@font-face {
  font-family: GM;
  src: url("../fonts/GothamMedium.ttf") format('truetype');
}
/*
@font-face {
  font-family: F3;
  src: url('../fonts/Youreinvited.otf') format('opentype');
}
*/
html {
  font-size: 30%;
}
@media (min-width: 600px) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 62.5%;
  }
}
p {
  font-family: GL, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 2%;
  text-align: justify;
}

p span {
  color: #842b24;
}

.brown {
  color: #842b24;
}

.blue {
  color: #2b807b;
}

li {
  font-family: GL, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 2%;
  text-align: justify;
}
li::marker {
  color: #842b24;
}

h2,
h3,
h4 {
  font-family: GM, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
h1 {
  font-family: GL, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 10rem;
  color: $philoikos-color;
  padding-left: 0;
  margin-top: 1%;
}
h1 a {
  font-size: 3rem;
}
.section-title {
  font-style: italic;
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
}
h2 {
  font-size: 3rem;
  padding-bottom: 5%;
}
@media (max-width: 480px) {
  h2 {
    text-align: centerd;
  }
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2.5rem;
}
.txt-center {
  text-align: center;
}
a {
  text-decoration: none;
}
h2,
h3,
h4 {
  color: #842b24;
}
h1 {
  color: #2b807b;
}
#butt-ins {
  background-color: #f2cb70;
}
#butt-ins h2 {
  color: #2b807b;
}
a {
  color: #2b807b;
}
#navbar {
  background-color: #fde8af;
}
#nav a {
  color: #842b24;
}
#thisPage {
  color: #e7bda9;
}
footer {
  background-color: #fde8af;
}
@media (hover: hover) {
  .icon-wrapper:hover {
    background-color: #d29360;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
  #nav a:hover {
    color: #c76f38;
  }
  #menu-atelier p:hover {
    color: #d6726b;
    cursor: pointer;
  }
  .collapsible:hover {
    background-color: #dfbb7b;
  }
  #butt-ins:hover h2 {
    color: #256f6a;
  }
  #butt-ins:hover {
    background-color: #eebd49;
    text-decoration: none;
  }
}
nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 80px;
}
#navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 20px 0 20px;
}
@media (max-width: 420px) {
  #navbar {
    padding: 0;
  }
}
@media (max-width: 720px) {
  #navbar {
    padding: 0 1vw 0 1vw;
  }
}
.nav-block {
  display: flex;
  align-items: center;
}
@media (max-width: 410px) {
  #logo {
    padding-top: 15px;
  }
}
#nav h2 {
  font-family: GA, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2b807b;
  padding: 0;
}
#nav ul {
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
@media (max-width: 440px) {
  #nav ul {
    padding-bottom: 10px;
    margin: 0 auto 0 auto;
  }
}
@media (max-width: 320px) {
  #nav ul {
    justify-content: center;
  }
}
#nav a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 2rem;
  font-family: GL, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 420px) {
  #nav a {
    padding: 0;
    margin: 0 2vw 0 2vw;
  }
}
#hidenav {
  position: absolute;
  top: 10%;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.flex-h {
  display: flex;
}
.flex-center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bgcover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgfixed {
  z-index: 1;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.w-10 {
  width: 10%;
}
.w-50 {
  width: 50%;
}
.height-50 {
  height: 50vh !important;
}
.t-10 {
  top: 10%;
}
.palebeige-border {
  border-color: #fbf2e3 !important;
}
section,
section * {
  position: relative;
}
section {
  padding: 0 10% 5% 10%;
}
@media (max-width: 360px) {
  section {
    padding: 0 5% 5% 5%;
  }
}
@media (min-width: 1280px) {
  section {
    padding: 0 15% 5% 15%;
  }
}
.subsection {
  padding: 7% 0 7% 0;
}
main {
  background-color: #fef0c8;
}
.page-header {
  margin: 0 15% 0 15%;
  padding: 80px 0 5% 0;
  background-color: $page-header-bg;
}
@media (max-width: 920px) {
  .page-header {
    margin: 0 10% 0 10%;
  }
}
@media (max-width: 360px) {
  .page-header {
    margin: 0 5% 0 5%;
  }
}
.page-header p {
  font-size: 3rem;
}
.page-header h2 {
  padding: 1%;
}
#page-accueil #hidenav {
  top: 30%;
}
#page-accueil .page-header p {
  font-size: 3.5rem;
  font-style: italic;
  color: #842b24;
}
@media (max-width: 480px) {
  #page-accueil .page-header p {
    font-size: 3rem;
    text-align: center;
  }
}
#page-accueil .page-header h1 {
  font-family: GA, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 10rem;
  color: $philoikos-color;
  padding-left: 0;
}
#presentation {
  background-image: url("../img/coquelicots.jpg");
}
@media (max-width: 720px) {
  #presentation {
    padding: 5%;
  }
}
@media (max-width: 920px) {
  #presentation {
    padding: 5% 10% 5% 10%;
  }
}
#presentation-texte {
  margin: 10% 0 10% 0;
  padding: 5% 0 5% 0;
  border-radius: 5px;
  background-color: #fef0c8;
}
#presentation-texte p {
  font-size: 2.5rem;
  padding: 2% 15% 2% 15%;
}
@media (max-width: 720px) {
  #presentation-texte p {
    text-align: center;
  }
}
@media (max-width: 1280px) {
  #presentation-texte p {
    padding: 2% 5% 2% 5%;
  }
}
#presentation-texte p::first-line {
  color: #a0522d;
  font-weight: bold;
}
@media (max-width: 720px) {
  #atelier-2023 {
    padding: 5%;
  }
}
.img-window {
  flex: 1;
  margin: 5% 0 5% 0;
}
@media (max-width: 480px) {
  .img-window {
    display: none;
  }
}
@media (max-width: 600px) {
  .img-window {
    margin: 10% 0 10% 5%;
  }
}
#atelier-2023 .right {
  padding: 0 10% 0 5%;
  flex: 2;
}
@media (max-width: 720px) {
  #atelier-2023 .right {
    flex: 3;
    padding-right: 0;
    text-align: center;
  }
}
#atelier-2023 .left {
  padding: 0 5% 0 10%;
  flex: 2;
}
@media (max-width: 720px) {
  #atelier-2023 .left {
    flex: 3;
    padding-left: 0;
    text-align: center;
  }
}
#atelier-2023 h1 {
  padding-bottom: 0;
}
#atelier-2023 h2 {
  padding-bottom: 5%;
}
@media (max-width: 480px) {
  #atelier-2023 h2 {
    text-align: center;
  }
}
#atelier-2023 .inter-header {
  font-family: GL, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 2%;
  color: #a0522d;
}
#qui {
  padding-top: 0;
}
#qui .subsection {
  align-items: center;
  justify-content: space-between;
}
#qui #william {
  padding: 7% 5vw 7% 8vw;
}
@media (max-width: 480px) {
  #qui #william {
    padding: 7% 3vw 7% 5vw;
  }
}
@media (min-width: 1280px) {
  #qui #william {
    padding-left: 5vw;
  }
}
#qui #cyril {
  padding: 7% 8vw 7% 5vw;
}
@media (max-width: 480px) {
  #qui #cyril {
    padding: 7% 5vw 7% 3vw;
  }
}
@media (min-width: 1280px) {
  #qui #cyril {
    padding-right: 5vw;
  }
}
#icon-will,
#icon-cyr {
  --size-img: 12vw;
  width: var(--size-img);
  height: var(--size-img);
  border-radius: 50%;
}
@media (max-width: 720px) {
  #icon-will,
  #icon-cyr {
    --size-img: 16vw;
  }
}
@media (max-width: 480px) {
  #icon-will,
  #icon-cyr {
    --size-img: 20vw;
  }
}
@media (max-width: 360px) {
  #icon-will,
  #icon-cyr {
    --size-img: 25vw;
  }
}
#qui p {
  width: 45vw;
}
@media (max-width: 720px) {
  #qui p {
    text-align: center;
  }
}
@media (max-width: 360px) {
  #qui p {
    width: 50vw;
  }
}
/*
iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.responsive-iframe {
  margin: 10% auto 5% auto;
  width: 80%;
  max-width: 960px;
  aspect-ratio: 16 / 9; }

.video-wrapper {
  width: 60%;
  margin: 0 0 5% 0;
  display: flex;
  justify-content: center; }

*/
@media (max-width: 440px) {
  #page-atelier .page-header h1 {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  #page-atelier .page-header h1 {
    padding-right: 0;
  }
}
#bande {
  height: 16vw;
  padding: 0 0 0 0;
  text-align: center;
  background-color: #47804d;
}

#menu-atelier {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 8vw;
  padding: 0;
}
@media (max-width: 480px) {
  #menu-atelier {
    padding-top: 5%;
  }
}
#menu-atelier p {
  font-family: GM, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #842b24;
  text-align: center;
  padding: 5% 0 0 0;
  margin: 0 10px 0 10px;
}
@media (min-width: 480px) {
  #menu-atelier p {
    width: 15vw;
  }
}
#menu-atelier a {
  text-decoration: none;
}
#bande h2 {
  color: #fef0c8;
  padding: 1% 5% 0 5%;
  white-space: nowrap;
}
#bande p a {
  color: cornflowerblue;
}
#bande p {
  text-align: center
  font-size: 2rem;
  padding: 0;
}
#bande #title {
  color: gold;
}
#bande #web {
  font-size: 4rem;
}
@media (max-width: 480px) {
  #bande h2 {
    padding-bottom: 3%;
  }
}
#page-atelier #inscription {
  height: 20vh;
}
#programme h1,
#pour-qui h1,
#pedagogie h1 {
  padding-top: 0;
}
@media (max-width: 768px) {
}

@media (max-width: 900px) {
  #programme {
    padding: 0 15% 7% 15%;
  }
}
@media (max-width: 600px) {
  #programme {
    padding: 0 10% 7% 10%;
  }
}
@media (max-width: 360px) {
  #programme {
    padding: 0 5% 7% 5%;
  }
}
#programme .subsection {
  padding-bottom: 0;
}
@media (max-width: 768px) {
  #programme .subsection {
    padding-top: 10%;
  }
}
#sommaire {
  display: flex;
  margin: 0 5% 0 5%;
}
#sommaire div {
  flex: 1;
}
#sommaire h3 {
  font-family: GL;
  margin-bottom: 1.5rem;
}
.themes-jour {
  width: 40%;
}
.themes-jour h2 {
  font-family: GL, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ff7f50;
  text-align: center;
  font-weight: 100;
}
#programme p {
  width: 60%;
}
#programme .left {
  padding-left: 5%;
}
@media (max-width: 768px) {
  #programme .left {
    text-align: right;
  }
}
#programme .right {
  padding-right: 5%;
}
@media (max-width: 768px) {
  #programme .right {
    text-align: left;
  }
}
.container {
  padding: 0 5% 5% 5%;
}
@media (min-width: 768px) {
  #pour-qui-container {
    padding: 0 12% 5% 12%;
  }
}
@media (min-width: 920px) {
  #pour-qui-container {
    padding: 0 17% 5% 17%;
  }
}
@media (min-width: 768px) {
  #infos-container {
    padding: 0 10% 3% 10%;
  }
}
@media (min-width: 920px) {
  #infos-container {
    padding: 0 15% 0 15%;
  }
}
@media (min-width: 768px) {
  #objectifs {
    padding: 0 15% 3% 15%;
  }
}
@media (min-width: 920px) {
  #objectifs {
    padding: 0 20% 5% 20%;
  }
}

#william, #cyril {
  padding: 0 0 5% 0;
}

#pour-qui-container p {
  padding: 0 0 3% 0;
}
#pour-qui-container b {
  font-weight: 800;
  color: #a0522d;
}
#pour-qui-container h2 {
  padding-bottom: 7%;
  text-align: center;
}
#pedagogie {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  #pedagogie .subsection {
    flex-direction: column;
  }
}
#pedagogie .subsection > * {
  flex: 1;
}
@media (max-width: 768px) {
  #pedagogie .subsection > * {
    flex: none;
  }
}
@media (max-width: 768px) {
  #pedagogie p {
    text-align: center;
  }
}
#infos h2 {
  padding-bottom: 0;
  padding-top: 5%;
}

#infos section {
  padding-bottom: 0;
}

#infos .subsection {
  padding-top: 0;
}

.mosaique,
.mosaique-alt {
  position: absolute;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.mosaique {
  top: 10%;
  height: 85%;
}
.mosaique-alt {
  top: 0 !important;
  height: 90% !important;
}
.img-alt {
  height: 50vw;
  margin-bottom: 10%;
  display: none;
}
@media (max-width: 768px) {
  .img-alt {
    display: block;
  }
}
.double > * {
  width: 50% !important;
}
#rm1 {
  background-image: url("../img/tunis-bardo-museum.png");
  top: 13%;
  height: 80%;
}
#rm2 {
  background-image: url("../img/roma-centrale-montemartini.png");
  left: 10%;
}
@media (max-width: 768px) {
  #rm2 {
    left: 0;
  }
}
#rm3 {
  background-image: url("../img/herculaneum-neptune-amphitrite.png");
  top: 0;
  height: 100%;
}
#rm4 {
  background-image: url("../img/herculaneum-neptune-amphitrite.png");
  left: 50%;
}
#page-atelier #faq {
  padding-top: 0;
}
#st-lezin {
  padding: 0;
  height: 120vh;
}
#st-lezin div {
  height: 120vh;
}
.pinned {
  height: 100%;
}
#unpas {
  background-color: #fef0c8;
  padding: 5% 10% 3% 10%;
}
@media (min-width: 920px) {
  #unpas {
    padding: 5% 15% 3% 15%;
  }
}
@media (min-width: 1280px) {
  #unpas {
    padding: 5% 20% 3% 20%;
  }
}
#unpas a {
  color: $hyperlink-color;
  font-weight: bold;
}
#unpas h1 {
  text-align: center;
}
#carousel {
  background-color: #ecd96b;
  padding: 0;
}
.slider {
  width: fit-content;
  display: flex;
}
.slide {
  width: 100vw;
}
.slide div {
  width: 90%;
  padding-top: 56.25%;
  margin: 0 5% 0 5%;
}
.controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#next-btn,
#prev-btn {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: var(--clr-white);
}
#next-btn:focus,
#prev-btn:focus {
  outline: none;
}
button {
  height: 20vh;
  width: 5%;
}
button path {
  fill: #f4eeb6;
}
svg {
  width: 100%;
  height: 100%;
  position: relative;
}
#venir {
  background-color: #fef0c8;
}
#venir h2 {
  padding: 5% 0 0 0;
}
#map-section {
  background-color: #fef0c8;
  height: 80vh;
}
#map {
  z-index: 1;
  height: 100%;
  border: 3px solid;
}
@media (max-width: 920px) {
  #map {
    display: none;
  }
}
#page-inscription .page-header h2 {
  font-size: 2.5rem;
}
@media (min-width: 480px) {
  #page-inscription .page-header h2 {
    font-size: 3rem;
  }
}
#inscription {
  height: 20vh;
  padding: 0;
}
@media (min-width: 540px) {
  #inscription {
    height: 25vh;
  }
}
@media (min-width: 768px) {
  #inscription {
    height: 30vh;
  }
}
@media (min-width: 1280px) {
  #inscription {
    height: 40vh;
  }
}
#butt-ins {
  margin: auto;
  height: fit-content;
  width: fit-content;
  padding: 1% 2% 1% 2%;
  white-space: nowrap;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
#butt-ins h2 {
  padding: 0;
}
#frais {
  padding: 0 5% 0 5%;
}
@media (min-width: 480px) {
  #frais {
    padding: 0 15% 0 15%;
  }
}
@media (min-width: 920px) {
  #frais {
    padding: 0 20% 0 20%;
  }
}
#frais b {
  color: #842b24;
  font-family: $font-GM;
}
#frais .tab {
  padding-left: 5%;
}
#frais .collapsible {
  margin-left: 6%;
  width: 93%;
}
#frais .content p {
  padding-top: 2%;
  text-indent: 4%;
}
#frais h4 {
  font-family: GL, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 0;
}
#frais h2:not(#fourchette) {
  padding-top: 5%;
}
#fourchette {
  font-family: GL, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-header p {
  font-size: 2.5rem;
}
#pourquoi {
  padding-bottom: 0;
}
#pourquoi p {
  padding-left: 0;
}
#cyril .left {
  flex: 2;
  padding-right: 5%;
}
#william .right {
  flex: 2;
  padding-left: 5%;
}
#cyril .right,
#william .left {
  flex: 1;
}
@media (max-width: 480px) {
  #cyril p {
    text-align: right;
  }
}
@media (max-width: 480px) {
  #william p {
    text-align: left;
  }
}
.perso-img {
  max-width: 100%;
  top: 0%;
  border-radius: 50%;
}
.perso-header {
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
}
#contact {
  padding-bottom: 10%;
}
#faq {
  padding: 0 10% 10% 10%;
}
@media (min-width: 480px) {
  #faq {
    padding: 3% 15% 10% 15%;
  }
}
@media (min-width: 920px) {
  #faq {
    padding: 3% 20% 10% 20%;
  }
}
#faq-container {
  padding: 0 2vw 5% 2vw;
  background-color: #fef8e6;
}
#faq h1 {
  color: #842b24;
  padding: 5% 5% 0 5%;
  border-bottom: 6px double #a0522d;
}
#faq h3 {
  border-bottom: 2px solid #a0522d;
  margin: 2vw 0 2vh 0;
}
@media (max-width: 720px) {
  #faq h3 {
    font-size: 3rem;
    margin-top: 5%;
  }
}
#faq h4 {
  font-size: 2rem;
  padding: 1%;
  color: #a0522d;
}
@media (min-width: 480px) {
  #faq h4 {
    font-size: 2.3rem;
  }
}
@media (min-width: 620px) {
  #faq h4 {
    font-size: 2.5rem;
  }
}
#faq p {
  font-size: 2rem;
  line-height: 1.3;
  padding: 0 2% 1% 2%;
}
.collapsible {
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin: 1vh 0 1vh 0;
}
.collapsible h4:after {
  content: '+\00a0';
  float: left;
}
.active h4:after {
  content: '-\00a0';
}
.content {
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
footer section {
  padding: 5% 10% 5% 10%;
}
footer .right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
footer .right a {
  margin: 2% 0 2% 0;
}
footer .left {
  flex: 2;
}
footer p {
  padding-left: 0;
}
@media (max-width: 480px) {
  footer p {
    line-height: 0.7;
  }
}
footer p b {
  font-family: GM, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #a0522d;
}
@media (max-width: 480px) {
  footer p a {
    font-size: 2rem;
  }
}
#foot-contact {
  white-space: nowrap;
}
@media (max-width: 680px) {
  #foot-contact {
    flex-direction: column;
    padding-bottom: 3%;
    line-height: 0.7;
  }
}
@media (max-width: 480px) {
  #foot-contact {
    padding-bottom: 6%;
  }
}
.copy {
  cursor: pointer;
}
.copied {
  display: none;
  opacity: 0;
}
#faq .copy,
#faq .copied {
  font-size: 1.7rem;
  color: #a0522d;
}
footer .copy span,
footer .copied span {
  font-size: 2rem;
  color: #a0522d;
}

#news {
  padding-top: 0;
}
@media (max-width: 480px) {
  #news {
    padding-top: 2%;
  }
}
#creditphoto {
  display: block;
  margin-top: 5%;
}
@media (max-width: 480px) {
  #creditphoto {
    margin-top: 10%;
  }
}
#social-networks {
  margin-bottom: 5%;
}
@media (min-width: 768px) {
  #social-networks {
    margin-bottom: 3%;
  }
}
.icon-wrapper {
  display: flex;
  background-color: #a0522d;
  margin-right: 20px;
  width: var(--size);
  height: var(--size);
}
#fb-wrapper {
  align-items: center;
  border-radius: 50%;
  --size: 20px;
}
@media (min-width: 768px) {
  #fb-wrapper {
    --size: 30px;
  }
}
#fb-wrapper svg {
  fill: #fef0c8;
  height: 66%;
}
#in-wrapper {
  align-items: end;
  --size: 18px;
  top: 2px;
  border-radius: 8%;
}
@media (min-width: 768px) {
  #in-wrapper {
    --size: 26px;
  }
}
#in-wrapper svg {
  fill: #fef0c8;
  height: 80%;
}
.toto {
  padding-top: 0;
}
.toto h1 {
  font-size: 5rem;
  padding-left: 0;
  padding-bottom: 0;
}
.toto h2 {
  padding-top: 3%;
  padding-bottom: 3%;
}
.toto p {
  padding-top: 0;
}
